@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html,*{
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

#page-content {
  flex-grow: 1;
  background-color: #f8f9fa;
}

.img-logo {
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
}

.bg-green {
  background-color: #064018;
  width: auto;
  height: auto;
  border-radius: 0px 0.3rem 0.3rem 0px;
}

li a {
  border: 1px solid #f8f9fa !important;
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
}
li a:hover{
  transition: 0.3s background-color;
  background-color: #048b2f;
}
.nav-item{
  margin-bottom: 1rem;
}
.sidebar{
  overflow-y: auto;
}
