@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html,
* {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

#page-content {
  flex-grow: 1;
  background-color: #f8f9fa;
}

.img-logo {
  width: 90%;
  height: 180px;
  object-fit: cover;
}

.bg-green {
  background-color: #064018;
  width: auto;
  height: auto;
}

li a {
  border: 1px solid #f8f9fa !important;
  text-decoration: none;
  color: inherit;
}

li a:hover {
  transition: 0.3s background-color;
  background-color: #048b2f;
}

.nav-item {
  margin-bottom: 1rem;
}

.sidebar {
  overflow-y: auto;
}

.bg-green-header {
  background-color: #048b2f;
  width: 1200px;
  height: 90px;
}
.user-exit{
  padding: 0;
  margin: 0;
}